#<Files ~ "/site">
#	Order allow,deny
#	Deny from all
#</Files>

<Files ~ ".desc">
	Order allow,deny
	Deny from all
</Files>

<Files ~ ".section">
	Order allow,deny
	Deny from all
</Files>

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^page/sitemap index.php?action=sitemap
	RewriteRule ^page/error/([^/]+)/ index.php?section=error&page=$1
	RewriteRule ^page/viewlog/hitsperdate/([^/]+)/([^/]+)/ index.php?action=viewlog&logaction=hitsperdate&date=$1&offset=$2
	RewriteRule ^page/viewlog/hitsperdate/([^/]+)/ index.php?action=viewlog&logaction=hitsperdate&date=$1
	RewriteRule ^page/viewlog/([^/]+)/([^/]+) index.php?action=viewlog&logaction=$1&offset=$2
	RewriteRule ^page/viewlog/([^/]+)/ index.php?action=viewlog&logaction=$1
	RewriteRule ^page/viewlog index.php?action=viewlog
	RewriteRule ^viewimage/thumb/(.*) image.php?action=makethumb&filename=$1
	RewriteRule ^viewimage/gallery/thumb/([^/]+)/([0-9]+)/ index.php?action=makethumb&kind=gallery&gallery=$1&file=$2
	RewriteRule ^page/([^/]+)/([^/]+) index.php?section=$1&page=$2
	RewriteRule ^page/([^/]+) index.php?section=$1
</IfModule>
