/* Hides from IE5-mac; HACK for iframe not resizing properly in IE \*/
* html .content {height: 1%;}
/* End hide from IE5-mac */

img
{
	border: 0;
}

img a
{
	border: 0;
}

#banner
{
}

.navbar
{
}

	.navbar a
	{
	}

	.navbar a:hover
	{
	}

.subnavbar
{
	float: left;
	width: 13em;
	margin-top: .5em;
	margin-bottom: 1em;
}

	.subnavbar ul
	{
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 1em;
		padding-left: 0;
	}

	.subnavbar li
	{
		padding-left: 0;
		margin-left: 0;
	}

	.subnavbar input.searchfield
	{
		width: 7em;
	}

.pagebody
{
	margin-top: .5em;
	padding: .3em;
	line-height: 1.2;
}

.content
{
	margin-left: 15em;
/*	position: relative;*/
}

.content img
{
}

.news
{
}

	.news .date
	{
	}

	.news p
	{
	}

.formfields p
{
}

.footer
{
	clear: both;
}

