#<Files ~ "/site">
#	Order allow,deny
#	Deny from all
#</Files>

<Files ~ ".desc">
	Order allow,deny
	Deny from all
</Files>

<Files ~ ".section">
	Order allow,deny
	Deny from all
</Files>

<IfModule mod_rewrite.c>
	RewriteEngine On
#	RewriteRule ^page/sitemap index.php?action=sitemap
	RewriteRule ^page/([^/]+)/sitemap index.php?action=sitemap&language=$1
	#RewriteRule ^page/error/([^/]+)/ ^page/en/error/$1/
	RewriteRule ^page/error/([^/]+)/ index.php?section=error&page=$1&language=en
	RewriteRule ^page/viewlog/hitsperdate/([^/]+)/([^/]+)/ index.php?action=viewlog&logaction=hitsperdate&date=$1&offset=$2
	RewriteRule ^page/viewlog/hitsperdate/([^/]+)/ index.php?action=viewlog&logaction=hitsperdate&date=$1
	RewriteRule ^page/viewlog/([^/]+)/([^/]+) index.php?action=viewlog&logaction=$1&offset=$2
	RewriteRule ^page/viewlog/([^/]+)/ index.php?action=viewlog&logaction=$1
	RewriteRule ^page/viewlog index.php?action=viewlog
#	RewriteRule ^page/([^/]+)/([^/]+) index.php?section=$1&page=$2
	RewriteRule ^page/([^/]+)/([^/]+)/([^/]+) index.php?section=$2&page=$3&language=$3
#	RewriteRule ^page/([^/]+) index.php?section=$1
	RewriteRule ^page/([^/]+)/([^/]+) index.php?section=$2&language=$1
</IfModule>

ErrorDocument 401 /page/error/401/
ErrorDocument 403 /page/error/403/
ErrorDocument 404 /page/error/404/
ErrorDocument 500 /page/error/500/

