body
{
	font-family: verdana, tahoma, helvetica, sans;
	font-size: .8em;
	background-color: #000;
}

/* Hides from IE5-mac; HACK for iframe not resizing properly in IE \*/
* html .content {height: 1%;}
/* End hide from IE5-mac */

h1
{
	font-size: 1.9em;
}

h2
{
	font-size: 1.3em;
}

h3
{
	font-size: 1em;
	font-weight: bold;
}

ul li
{
	list-style-type: square;
}

a
{
	text-decoration: none;
	color: #1C45A3;
	color: #00CC00;
}

a:hover, .subnavbar a.highlight
{
	text-decoration: underline;
	color: #1C45A3;
	color: #00CC00;
}

img
{
	border: 0;
}

img a
{
	border: 0;
}

th
{
	text-align: left;
	font-weight: bold;
}

.wrapperbox
{
	text-align: center;
}

.page
{
	background-color: #FEFEFE;
	border: 1px solid #0C0;
	width: 90%;
/*	padding: .5em;*/
	margin: 1em auto 1em auto;
	text-align: left;
}

#banner
{
/* Use when not using "portalnav"
	background-color: #E7F1FB;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
*/
	padding: .5em .5em 0 .5em;
}

.navbar
{
	margin-top: .5em;
	background-color: #00CC00;
	padding: .5em;
}

	.navbar a
	{
		padding-top: .2em;
		padding-bottom: .2em;
		padding-left: .5em;
		padding-right: .5em;
		color: #FFF;
		text-decoration: none;
		background-color: transparent;
		border-top: 1px solid #66FF66;
		border-left: 1px solid #66FF66;
		border-bottom: 1px solid #007A00;
		border-right: 1px solid #007A00;
	}

	.navbar a:hover, .navbar a.highlight
	{
		padding-top: .2em;
		padding-bottom: .2em;
		padding-left: .5em;
		padding-right: .5em;
		color: #FFF;
		text-decoration: none;
		background-color: transparent;
		border-bottom: 1px solid #66FF66;
		border-right: 1px solid #66FF66;
		border-top: 1px solid #007A00;
		border-left: 1px solid #007A00;
	}

.subnavbar
{
	float: left;
	width: 13em;
	margin-top: .5em;
	margin-bottom: 1em;

	width: 13em;
/*	margin-top: .5em;*/
	margin-bottom: 1em;
	padding: .3em;
/*
	background-color: #66FF66;
	border-top: 1px solid #AAFFAA;
	border-left: 1px solid #AAFFAA;
	border-bottom: 1px solid #447A44;
	border-right: 1px solid #447A44;
*/
	background-color: #E6FFE6;
	background-color: #00CC00;
	color: #FFF;
	border-top: 1px solid #66FF66;
	border-left: 1px solid #66FF66;
	border-bottom: 1px solid #007A00;
	border-right: 1px solid #007A00;

}

	.subnavbar h2
	{
		font-size: 1.1em;
		font-weight: bold;
		margin-top: 0;
		margin-bottom: .5em;
		border-bottom: 0;
		padding-left: .3em;
		padding-right: .3em;
		padding-top: .2em;
		padding-bottom: .2em;
		text-align: center;
	}

	.subnavbar ul
	{
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 1em;
		padding-left: 0;

		margin-top: 0;
		margin-bottom: 0;
		margin-left: 1em;
		padding-left: 0;
	}

	.subnavbar li
	{
		padding-left: 0;
		margin-left: 0;
	}

	.subnavbar ul.info
	{
		margin-top: .5em;
		padding-top: .5em;
		border-top: 1px dotted #FFF;
		border-top: 1px dotted #3f5671;
	}

	.subnavbar ul.info li
	{
		list-style: none;
		font-size: .7em;
	}

	.subnavbar input.searchfield
	{
		width: 7em;
	}
	
	.subnavbar a, .subnavbar a:hover, .subnavbar a.highlight
	{
		color: #FFF;
	}

.pagebody
{
	margin-top: .5em;
	padding: .3em;
	line-height: 1.2;

	color: #000;
	background-color: #FFF;
	margin-top: .5em;
	padding: .3em;
	line-height: 1.2;
}

.content
{
	position: relative;
	margin-left: 15em;
}

.content img
{
	border: 1px solid #1C45A3;
	padding: 3px;
}

.updatedat
{
	text-align: right;
	font-size: .8em;
}

.news
{
	margin-top: .5em;
	background-color: #E6FFE6;
	/*background-color: #bff2bf;*/
	/*
	border-top: 1px solid #007A00;
	border-left: 1px solid #007A00;
	border-bottom: 1px solid #66FF66;
	border-right: 1px solid #66FF66;*/
	background-color: #66FF66;
	background-color: #80ff80;
	background-color: #e7ffe7;
	padding: .3em;
}

	.news .date
	{
		/*border-top: 1px dotted #1C45A3;*/
		font-weight: bold;
	}

	.news p
	{
		margin-top: 0;
		padding-top: 0;
		padding-left: 1em;
		padding-bottom: .3em;
		margin-bottom: 0;
	}

.galleryimage
{
	float: left;

	width: 150px;
	height: 150px;
	text-align: center;
}

.formfields p
{
	margin-top: 0;
	margin-bottom: .2em;
}

.footer
{
	clear: both;
	margin-top: .5em;
	padding: .2em;
	border-top: 1px solid #CCC;
	font-size: .8em;
	font-style: italic;
}

/* Extra */
.logo
{
	float: left;
}

.portalnav
{
	float: right;
	text-align: right;
	padding-right: .5em;
	padding-top: .1em;
	padding-bottom: .1em;
}

/*** Notes ***/
/*
padding:
	This property is a shorthand for the top, right, bottom and left properties.
*/
